.login-container {
  width: 40%;
  /* background-color: #f6f3ee; */
  background-color: #fff;
  text-align: center;
  margin: auto;
  margin-top: 180px;
  padding: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 20px;
  /* margin: 200px 200px 200px 200px; */
}

.login-heading {
  color: black;
  margin-bottom: 12px;
}

/* .login-input {
  color: #625155;
  font-size: 20px;
  margin-bottom: 15px;
} */

.emailInput {
  margin: auto;
  /* margin-bottom: 30px; */
  margin-bottom: 25px;
  padding: 7px 7px 7px 7px;
  box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 6px;
  width: 60%;
  background-color: rgb(241, 241, 247);
  font-size: 18px;
}

.passwordInput {
  margin: auto;
  /* margin-bottom: 30px; */
  margin-bottom: 35px;
  padding: 7px 7px 7px 7px;
  box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 6px;
  width: 60%;
  background-color: rgb(241, 241, 247);
  font-size: 18px;
}

.login-button {
  padding: 0.2rem 2.5rem;
  border: 1px solid #fff;
  background: #0bc1e9;
  color: #fff;
  font-size: 22px;
  /* font-weight: 700; */
  cursor: pointer;
  border-radius: 25px;
}

.login-link {
  margin: auto;
  margin-top: 15px;
}

.login-footer {
  margin-top: 32px;
}

.login-footer-span {
  font-size: 16px;
  margin-bottom: 50px;
}

.login-footer-password {
  margin-bottom: 10px;
}

.login-new-pass-btn {
  padding: 0.2rem 0.7rem;
  margin-left: 6px;
  border: 1px solid #fff;
  background: #7d9af2;
  color: #fff;
  font-size: 16px;
  /* font-weight: 700; */
  cursor: pointer;
  border-radius: 25px;
}

.login-new-account-btn {
  padding: 0.2rem 0.85rem;
  margin-left: 6px;
  border: 1px solid #fff;
  background: #7d9af2;
  color: #fff;
  font-size: 16px;
  /* font-weight: 700; */
  cursor: pointer;
  border-radius: 25px;
}
