.search-page-container {
    padding-top: 20px;
    padding-bottom: 80px;
    background-color: #fff;
    min-height: 100vh;
    height: 100%;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

.search-container.after-search {
    height: auto;
    margin-top: 50px; 
}

.round-circle.after-search {
    margin-top: 50px; 
}

.search-icon {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #e6eaff;
}

.search-bar {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #e6eaff;
}

.search-button {
    padding: 0.3rem 1rem;
    border: 1px solid #fff;
    /* background: #0bc1e9; */
    background-color: #7d9af2;
    color: #fff;
    /* font-size: 24px; */
    cursor: pointer;
    border-radius: 30px;
}

.keywords-button {
    padding: 0.3rem 1rem;
    border: 1px solid #fff;
    background: #0bc1e9;
    color: #fff;
    /* font-size: 24px; */
    cursor: pointer;
    border-radius: 30px; 
}

.search-listGroup-item {
    display: flex;
    flex-direction: column;
    width: 80vw;
    background-color: #e6eaff;
    border-color: #e6eaff;
    margin-top: 50px;
}

.search-listGroup-item-filter {
    display: flex;
    flex-direction: column;
    width: 60vw;
    background-color: #e6eaff;
    border-color: #e6eaff;
    margin-top: 50px;
}

.filter-container {
    width: 30vw;
    background-color: #e6eaff;
}

.filter-add-button {
    padding: 0.3rem 1rem;
    border: 1px solid #fff;
    background: #7d9af2;
    color: #fff;
    /* font-size: 24px; */
    cursor: pointer;
    border-radius: 30px; 
}

.keyword-container {
    background-color: #e2e6f3;
    padding: 0.3rem 1rem;
    border: 1px solid #e6eaff;
    color: black;
    /* font-size: 24px; */
    /* cursor: pointer; */
    border-radius: 30px; 
}

.keyword-container:hover {
    background-color: #ed7285;
    border: 1px solid #e6eaff;
}