.register-container {
  width: 50%;
  background-color: #fff;
  text-align: center;
  margin: auto;
  margin-top: 8%;
  padding: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 20px;
  /* margin: 200px 200px 200px 200px; */
}

.register-content-container {
  display: flex;
}

.register-heading {
  color: black;
  margin: auto;
  margin-bottom: 12px;
  /* margin-left: 28%; */
}

.register-texts-container {
  margin-left: 5%;
  width: 60%;
  /* background-color: red; */
  text-align: left;
}

.register-name {
  margin: auto;
  margin-bottom: 25px;
  /* margin-bottom: px; */
  padding: 7px 7px 7px 7px;
  box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 6px;
  width: 80%;
  background-color: rgb(241, 241, 247);
  font-size: 18px;
}

.register-email {
  margin: auto;
  /* margin-bottom: 30px; */
  margin-bottom: 0px;
  padding: 7px 7px 7px 7px;
  box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 6px;
  width: 80%;
  background-color: rgb(241, 241, 247);
  font-size: 18px;
}

.register-password {
  margin: auto;
  /* margin-bottom: 30px; */
  margin-bottom: 0px;
  padding: 7px 7px 7px 7px;
  box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 6px;
  width: 80%;
  background-color: rgb(241, 241, 247);
  font-size: 18px;
}

.register-confirm-password {
  margin: auto;
  /* margin-bottom: 30px; */
  margin-bottom: 10px;
  padding: 7px 7px 7px 7px;
  box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 6px;
  width: 80%;
  background-color: rgb(241, 241, 247);
  font-size: 18px;
}

.register-button {
  padding: 0.2rem 2.5rem;
  border: 1px solid #fff;
  background: #0bc1e9;
  color: #fff;
  font-size: 22px;
  /* font-weight: 700; */
  cursor: pointer;
  border-radius: 25px;
}

.register-error {
  margin-bottom: 25px;
}

.register-link {
  margin: auto;
  margin-top: 15px;
}

.register-footer {
  margin-top: 32px;
}

.register-footer-span {
  font-size: 16px;
  margin-bottom: 50px;
}

.register-footer-register {
  margin-bottom: 10px;
}

.register-login-btn {
  padding: 0.2rem 0.7rem;
  margin-left: 6px;
  border: 1px solid #fff;
  background: #7d9af2;
  color: #fff;
  font-size: 16px;
  /* font-weight: 700; */
  cursor: pointer;
  border-radius: 25px;
}

/* .formProfilePhoto { */
/* color: red; */
/* background-color: red; */
/* border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

input::file-selector-button {
    font-weight: bold;
    color: dodgerblue;
    padding: 0.5em;
    border: thin solid grey;
    border-radius: 3px;
} */
.register-photo-container {
  /* text-align: center; */
  /* padding-left: 5%; */
  padding-top: 10%;
  /* background-color: red; */
}

input[type="file"]::file-selector-button {
  padding: 0.2rem 0.7rem;
  border: 1px solid #fff;
  background: #7d9af2;
  color: #fff;
  font-size: 16px;
  /* font-weight: 700; */
  cursor: pointer;
  border-radius: 25px;
}

.profile-photo-label{
    font-size: 20px;
    margin-bottom: 10px;
}

/* .formProfilePhoto {
  padding: 0.2rem 0.7rem;
  border: 1px solid #fff;
  background: #7d9af2;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 25px;
} */
