.profile-page-container {
  height: 100%;
  width: 100%;
  background-color: #fff;
}

.resubmit-form-container {
  margin-top: 20px;
  margin-left: 92px;
  /* margin-left: 15px; */
  margin-bottom: 20px;
  font-size: 15px;
  /* background-color: #e6eaff; */
  /* border-radius: 50px; */
  padding: 0.2rem 0.5rem;
  border: 1px solid #fff;
  background: #e6eaff;
  color: black;
  /* font-size: 22px; */
  /* font-weight: 700; */
  cursor: pointer;
  border-radius: 25px;
  
}

.container-profile {
  display: flex;
  align-items: stretch;
  margin: 0% 5% 2% 5%;
  padding: 50px 50px 50px 80px;
  border-radius: 35px;
  background-color: #e6eaff;
}

.container-img {
  flex: 2;
  width: 1%;
  height: 10%;
}

.container-detail-1 {
  flex: 2;
  width: 100%;
  height: 100%;
  /* background-color: red; */
  margin: 0 60px 0 60px;
  /* margin-top: 12%; */
  padding: auto;
  padding-top: 8%;
  text-align: center;
  overflow-wrap: break-word;
}

.container-detail-2 {
  flex: 3;
  width: 100%;
  height: 100%;
  margin: auto 60px auto 60px;
  padding: auto;
  padding-top: 20px;
  text-align: left;
  vertical-align: middle;
}

.container-vertical-line {
  width: 2px;
  height: auto;
  background-color: rgb(178, 173, 197);
}

.container-professional-detail {
  width: 45%;
  /* height: 1500px; */
  margin: 2% 2% 2% 5%;
  /* margin-top: 100px; */
  padding: 70px;
  border-radius: 35px;
  background-color: #e6eaff;
  /* display: inline-flex; */
  text-align: center;
}

.container-papers {
  width: 45%;
  /* height: 1500px; */
  margin: 2% 5% 2% 2%;
  padding: 70px;
  border-radius: 35px;
  background-color: #e6eaff;
  overflow: auto;
  text-align: center;
}

img {
  border-radius: 50%;
  width: 100%;
  /* margin: 0 0 100px 0; */
}

.profile-name {
  /* margin: 0 100% 0 0; */
  font-size: 50px;
  margin-bottom: 50px;
  color: black;
  /* margin-left: 50px; */
  /* display: flex; */
  /* float: inline-end; */
}

h1 {
  color: black;
  margin-bottom: 30px;
}

h4 {
  margin-top: 20px;
  font-size: 20px;
  color: rgb(100, 96, 122);
}

h3 {
  margin-top: 20px;
  font-size: 20px;
  color: black;
}

span {
  /* margin: 0 0 50px 0; */
  font: 1000;
  /* display: flex; */
  /* margin: 0 100% 0 0; */
}

.title {
  margin-bottom: 13px;
  color: black;
  text-align: left;
}

.focusArea {
  margin-bottom: 13px;
  color: black;
  text-align: left;
}

.paper {
  margin-bottom: 20px;
  color: black;
  text-align: left;
}

.educations {
  width: 100%;
  /* height: 6%; */
  margin-bottom: 50px;
  /* background-color: red; */
}

.education {
  margin-bottom: 13px;
  color: black;
  text-align: left;
}

.honors {
  width: 100%;
  /* height: 35%; */
  margin-bottom: 50px;
  /* background-color: red; */
}

.honor {
  margin-bottom: 13px;
  color: black;
  text-align: left;
  /* font-size: 12px; */
}

.experiences {
  width: 100%;
  /* height: 35%; */
  margin-bottom: 50px;
  /* background-color: red; */
}

.experience {
  margin-bottom: 13px;
  color: black;
  text-align: left;
}

.keywords {
  width: 100%;
  /* height: 35%; */
  margin-bottom: 50px;
}

.keyword {
  margin-bottom: 13px;
  color: black;
  text-align: left;
}

input {
  border: 0;
  padding: 8px;
}

textarea {
  border: 0;
  resize: none;
  overflow: hidden;
  min-height: 14px;
  max-height: 100px;
  width: 200px;
  color: #625155;
  background-color: #f8f8f8;
}

.edit-button {
  position: absolute;
  display: none;
  font-size: 200%;
  color: black;
  z-index: 999;
}

.container-detail-info:hover .edit-button {
  display: block;
}

.no-profile-container {
  width: 40%;
  height: 300px;
  background-color: #fff;
  margin: auto;
  margin-top: 250px;
  padding-top: 5%;
  padding-left: 3%;
  padding-right: 3%;
  border-radius: 20px;
  text-align: center;
}

.go-to-form-button {
  /* padding: 0.5rem 1rem;
  border: 1px solid #fff;
  background: #0bc1e9;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
  border-radius: 10px; */
  padding: 0.2rem 2.5rem;
  border: 1px solid #fff;
  background: #0bc1e9;
  color: #fff;
  font-size: 22px;
  /* font-weight: 700; */
  cursor: pointer;
  border-radius: 25px;
}

.edit-buttons {
  /* position: relative;
  top: 0;
  right: 0; */
  /* display: flex; */
  text-align: right;
  font-size: 22px;
  /* color: #625155; */
  text-decoration: none;
}

.dropdown-toggle::after {
  display: none;
}

.modal-dialog {
  max-width: 60%;
}

.modal-body .form-control {
  border: 1px solid #000000; /* Add border styles here */
}

.multiline-edit-textarea {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  box-sizing: border-box;
}

.bi-check-button:hover {
  transform: translateY(2px);
  cursor: pointer;
}

.bi-cancel-button:hover {
  transform: translateY(2px);
  cursor: pointer;
}

.bi-add-button:hover {
  /* transform: rotate(1px); */
  cursor: pointer;
}
